[user]
    name = Albert Tugushev
    email = albert@tugushev.ru
[alias]
    tree = log --oneline --decorate --all --graph
    st = status
    ci = commit
    co = checkout
    ss = show
    dff = diff
    pss = push
[core]
    autocrlf = input
    attributesfile = ~/.gitattributes
    excludesfile = /Users/albert/.gitignore
[push]
    default = current
[merge "pofile"]
    name = custom merge driver for gettext po files
    driver = git-po-merge %A %O %B
[pull]
    default = current
    rebase = true
[diff]
    noprefix = true
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
